<a href="https://colab.research.google.com/github/SamuelMiller413/Ongoing-Projects/blob/main/N1_Project_Colab_scratch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np 
import pandas as pd 

                                                                          # PRE-PROCESSING
from sklearn.preprocessing import StandardScaler
                                                                          # FEATURE SELECTION
from sklearn.neighbors import KNeighborsRegressor
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.feature_selection import SelectFromModel, mutual_info_regression, RFE, RFECV

                                                                          # PIPELINE
from sklearn.pipeline import Pipeline
                                                                          # REGRESSORS       
from sklearn.dummy import DummyRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression, SGDRegressor
                                          
                                                                          # NEURAL NETWORK
from sklearn.neural_network import MLPRegressor

                                                                          # CROSS VALIDATION
from sklearn.model_selection import train_test_split, cross_val_score, ShuffleSplit, StratifiedKFold
from sklearn.model_selection import learning_curve, cross_val_predict
from sklearn.model_selection import KFold, RandomizedSearchCV

                                                                          # EVALUATION
from sklearn.metrics import explained_variance_score, mean_absolute_error, mean_squared_error
from sklearn.metrics import r2_score
from sklearn.metrics import silhouette_score
from sklearn.metrics import SCORERS

                                                                          # PLOTTING
import random
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

                                                                          # DATA SET

In [2]:
# mount drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
# paths
cdc = '/content/drive/MyDrive/N1 Health/N1 Health/Datasets/CDC/500_Cities__Census_Tract-level_Data__GIS_Friendly_Format___2019_release.csv'
cms = '/content/drive/MyDrive/N1 Health/N1 Health/Datasets/CMS/Geographic Variation Public Use File State County.csv'
fda_1 = '/content/drive/MyDrive/N1 Health/N1 Health/Datasets//USDA ERS/StateAndCountyData.csv'
fda_2 = '/content/drive/MyDrive/N1 Health/N1 Health/Datasets/USDA ERS/SupplementalDataCounty.csv'
fda_3 = '/content/drive/MyDrive/N1 Health/N1 Health/Datasets/USDA ERS/SupplementalDataState.csv'
fda_var = '/content/drive/MyDrive/N1 Health/N1 Health/Datasets/USDA ERS/VariableList.csv'

# read to df
df_cdc = pd.read_csv(cdc)
df_cms = pd.read_csv(cms)
df_fda_1 = pd.read_csv(fda_1)
df_fda_2 = pd.read_csv(fda_2)
df_fda_3 = pd.read_csv(fda_3)
df_fda_var = pd.read_csv(fda_var)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (225,229,230,232,233,234,237,238,240,241,243,244,248,249) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

#### df_fda_1

In [4]:
# shape
print(f'Shape of df_fda_1: {df_fda_1.shape}')

print('')

# columns
print(f'Columns in df_fda_1: {df_fda_1.columns}')

Shape of df_fda_1: (852810, 5)

Columns in df_fda_1: Index(['FIPS', 'State', 'County', 'Variable_Code', 'Value'], dtype='object')

In [5]:
# display
df_fda_1.head()

   FIPS State   County          Variable_Code         Value
0  1001    AL  Autauga          LACCESS_POP10  18428.439690
1  1001    AL  Autauga          LACCESS_POP15  17496.693040
2  1001    AL  Autauga  PCH_LACCESS_POP_10_15     -5.056026
3  1001    AL  Autauga      PCT_LACCESS_POP10     33.769657
4  1001    AL  Autauga      PCT_LACCESS_POP15     32.062255

In [6]:
# pivot
df_fda_1 = df_fda_1.pivot_table(values='Value', index=['FIPS', 'State', 'County'], columns='Variable_Code')
df_fda_1.reset_index(inplace=True)

In [7]:
# display
df_fda_1.head()

Variable_Code,FIPS,State,County,2010_Census_Population,AGRITRSM_OPS07,AGRITRSM_OPS12,AGRITRSM_RCT07,AGRITRSM_RCT12,BERRY_ACRES07,BERRY_ACRES12,...,WICS16,WICSPTH11,WICSPTH16,WIC_PART_2012,WIC_PART_2013,WIC_PART_2014,WIC_PART_2015,WIC_PART_2016,WIC_PART_2017,WIC_PART_2018
0,1,AL,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.418998e+05,1.390005e+05,1.310462e+05,1.321328e+05,1.291599e+05,1.239926e+05,1.206048e+05
1,2,AK,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.496933e+04,2.305467e+04,1.960467e+04,1.968200e+04,1.912092e+04,1.818817e+04,1.709242e+04
2,4,AZ,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.932141e+05,1.825008e+05,1.730202e+05,1.670722e+05,1.639978e+05,1.535101e+05,1.495133e+05
3,5,AR,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,9.429275e+04,8.977683e+04,8.328858e+04,8.421958e+04,8.055467e+04,7.651850e+04,7.360675e+04
4,6,CA,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.472468e+06,1.431881e+06,1.348939e+06,1.265005e+06,1.174875e+06,1.080241e+06,1.009492e+06

In [8]:
# shape
print(f'Shape of df_fda_1: {df_fda_1.shape}')

print('')

# columns
print(f'Columns in df_fda_1: {df_fda_1.columns}')

Shape of df_fda_1: (6336, 335)

Columns in df_fda_1: Index(['FIPS', 'State', 'County', '2010_Census_Population', 'AGRITRSM_OPS07',
       'AGRITRSM_OPS12', 'AGRITRSM_RCT07', 'AGRITRSM_RCT12', 'BERRY_ACRES07',
       'BERRY_ACRES12',
       ...
       'WICS16', 'WICSPTH11', 'WICSPTH16', 'WIC_PART_2012', 'WIC_PART_2013',
       'WIC_PART_2014', 'WIC_PART_2015', 'WIC_PART_2016', 'WIC_PART_2017',
       'WIC_PART_2018'],
      dtype='object', name='Variable_Code', length=335)

In [9]:
# info
df_fda_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6336 entries, 0 to 6335
Columns: 335 entries, FIPS to WIC_PART_2018
dtypes: float64(332), int64(1), object(2)
memory usage: 16.2+ MB

In [10]:
# describe
df_fda_1.describe()

Variable_Code,FIPS,2010_Census_Population,AGRITRSM_OPS07,AGRITRSM_OPS12,AGRITRSM_RCT07,AGRITRSM_RCT12,BERRY_ACRES07,BERRY_ACRES12,BERRY_ACRESPTH07,BERRY_ACRESPTH12,...,WICS16,WICSPTH11,WICSPTH16,WIC_PART_2012,WIC_PART_2013,WIC_PART_2014,WIC_PART_2015,WIC_PART_2016,WIC_PART_2017,WIC_PART_2018
count,6336.000000,3.142000e+03,3080.000000,3080.000000,1.974000e+03,2.119000e+03,2305.000000,2334.000000,2305.000000,2333.000000,...,2985.000000,3008.000000,2982.000000,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01
mean,30142.671559,9.826204e+04,7.579545,10.764935,2.108313e+05,2.766437e+05,108.856833,120.325621,1.728031,1.972856,...,14.577889,0.245190,0.217240,1.704073e+05,1.657204e+05,1.580896e+05,1.536727e+05,1.474524e+05,1.397460e+05,1.321477e+05
std,15342.995807,3.129467e+05,10.407053,15.438169,5.423634e+05,7.750182e+05,924.730823,975.864547,21.152581,22.985520,...,48.084899,0.211686,0.191315,2.468271e+05,2.411141e+05,2.287575e+05,2.180488e+05,2.065493e+05,1.932998e+05,1.797976e+05
min,1.000000,8.200000e+01,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.004029,0.004938,1.260158e+04,1.198017e+04,1.162892e+04,1.099542e+04,1.078283e+04,1.015858e+04,9.062000e+03
25%,18139.000000,1.111450e+04,2.000000,3.000000,7.000000e+03,1.300000e+04,0.000000,0.000000,0.000000,0.000000,...,2.000000,0.128155,0.114667,4.323908e+04,4.172146e+04,4.031725e+04,3.905363e+04,3.856721e+04,3.698321e+04,3.456450e+04
50%,29151.000000,2.587200e+04,5.000000,6.000000,4.200000e+04,6.500000e+04,5.000000,6.000000,0.101541,0.132127,...,5.000000,0.186860,0.165353,1.185849e+05,1.137628e+05,1.089005e+05,1.055036e+05,1.001519e+05,9.595817e+04,9.215250e+04
75%,45069.000000,6.678000e+04,9.000000,13.000000,1.687500e+05,2.330000e+05,22.000000,24.000000,0.400727,0.466003,...,10.000000,0.277210,0.247699,1.683068e+05,1.636985e+05,1.591861e+05,1.580745e+05,1.515955e+05,1.459558e+05,1.426490e+05
max,56045.000000,9.818605e+06,161.000000,236.000000,8.464000e+06,2.372300e+07,28904.000000,29218.000000,864.767832,898.490114,...,1188.000000,3.048780,3.262643,1.472468e+06,1.431881e+06,1.348939e+06,1.265005e+06,1.174875e+06,1.080241e+06,1.009492e+06

#### df_fda_2

In [11]:
# shape
print(f'Shape of df_fda_2: {df_fda_2.shape}')

print('')

# columns
print(f'Columns in df_fda_2: {df_fda_2.columns}')

Shape of df_fda_2: (28278, 5)

Columns in df_fda_2: Index(['FIPS', 'State', 'County', 'Variable_Code', 'Value'], dtype='object')

In [12]:
# display
df_fda_2.head()

   FIPS State          County             Variable_Code  Value
0  1001    AL  Autauga County    2010_Census_Population  54571
1  1001    AL  Autauga County  Population_Estimate_2011  55208
2  1001    AL  Autauga County  Population_Estimate_2012  54936
3  1001    AL  Autauga County  Population_Estimate_2013  54713
4  1001    AL  Autauga County  Population_Estimate_2014  54876

In [13]:
# pivot table
df_fda_2 = df_fda_2.pivot_table(values='Value', index=['FIPS', 'State', 'County'], columns='Variable_Code')
df_fda_2.reset_index(inplace=True)

In [14]:
# shape
print(f'Shape of df_fda_2: {df_fda_2.shape}')

print('')

print(f'Columns in df_fda_2: {df_fda_2.columns}')

Shape of df_fda_2: (3142, 12)

Columns in df_fda_2: Index(['FIPS', 'State', 'County', '2010_Census_Population',
       'Population_Estimate_2011', 'Population_Estimate_2012',
       'Population_Estimate_2013', 'Population_Estimate_2014',
       'Population_Estimate_2015', 'Population_Estimate_2016',
       'Population_Estimate_2017', 'Population_Estimate_2018'],
      dtype='object', name='Variable_Code')

In [15]:
# info
df_fda_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3142 entries, 0 to 3141
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   FIPS                      3142 non-null   int64
 1   State                     3142 non-null   object
 2   County                    3142 non-null   object
 3   2010_Census_Population    3142 non-null   int64
 4   Population_Estimate_2011  3142 non-null   int64
 5   Population_Estimate_2012  3142 non-null   int64
 6   Population_Estimate_2013  3142 non-null   int64
 7   Population_Estimate_2014  3142 non-null   int64
 8   Population_Estimate_2015  3142 non-null   int64
 9   Population_Estimate_2016  3142 non-null   int64
 10  Population_Estimate_2017  3142 non-null   int64
 11  Population_Estimate_2018  3142 non-null   int64
dtypes: int64(10), object(2)
memory usage: 294.7+ KB

In [16]:
# describe
df_fda_2.describe()

Variable_Code,FIPS,2010_Census_Population,Population_Estimate_2011,Population_Estimate_2012,Population_Estimate_2013,Population_Estimate_2014,Population_Estimate_2015,Population_Estimate_2016,Population_Estimate_2017,Population_Estimate_2018
count,3142.000000,3.142000e+03,3.142000e+03,3.142000e+03,3.142000e+03,3.142000e+03,3.142000e+03,3.142000e+03,3.142000e+03,3.142000e+03
mean,30383.649268,9.826204e+04,9.916614e+04,9.989631e+04,1.005913e+05,1.013324e+05,1.020823e+05,1.028235e+05,1.034841e+05,1.041271e+05
std,15162.508374,3.129467e+05,3.163954e+05,3.195096e+05,3.224247e+05,3.253350e+05,3.281943e+05,3.305395e+05,3.320993e+05,3.334863e+05
min,1001.000000,8.200000e+01,9.000000e+01,8.600000e+01,8.900000e+01,8.900000e+01,8.800000e+01,8.800000e+01,8.800000e+01,8.800000e+01
25%,18177.500000,1.111450e+04,1.108700e+04,1.100525e+04,1.101700e+04,1.098550e+04,1.094800e+04,1.093525e+04,1.088900e+04,1.092650e+04
50%,29176.000000,2.587200e+04,2.579450e+04,2.578850e+04,2.571050e+04,2.564200e+04,2.563250e+04,2.571650e+04,2.578400e+04,2.575850e+04
75%,45080.500000,6.678000e+04,6.699225e+04,6.711200e+04,6.740875e+04,6.760700e+04,6.748825e+04,6.730625e+04,6.781575e+04,6.782050e+04
max,56045.000000,9.818605e+06,9.876727e+06,9.938436e+06,9.998105e+06,1.004841e+07,1.009704e+07,1.012054e+07,1.011876e+07,1.010552e+07

#### df_fda_3

In [17]:
# shape
print(f'Shape of df_fda_2: {df_fda_3.shape}')

print('')

# columns
print(f'Columns in df_fda_2: {df_fda_2.columns} ')

Shape of df_fda_2: (2142, 4)

Columns in df_fda_2: Index(['FIPS', 'State', 'County', '2010_Census_Population',
       'Population_Estimate_2011', 'Population_Estimate_2012',
       'Population_Estimate_2013', 'Population_Estimate_2014',
       'Population_Estimate_2015', 'Population_Estimate_2016',
       'Population_Estimate_2017', 'Population_Estimate_2018'],
      dtype='object', name='Variable_Code')

In [18]:
# display
df_fda_3.head()

   State_FIPS State  Variable_Code        Value
0           1    AL  WIC_PART_2012  141899.8333
1           1    AL  WIC_PART_2013  139000.5000
2           1    AL  WIC_PART_2014  131046.2500
3           1    AL  WIC_PART_2015  132132.7500
4           1    AL  WIC_PART_2016  129159.9167

In [19]:
# pivot table
df_fda_3 = df_fda_3.pivot_table(values='Value', index=['State_FIPS', 'State'], columns='Variable_Code')
df_fda_3.reset_index(inplace=True)

In [20]:
# shape
print(f'Shape of df_fda_2: {df_fda_3.shape}')

print('')

# columns
print(f'Columns in df_fda_2: {df_fda_2.columns} ')

Shape of df_fda_2: (51, 44)

Columns in df_fda_2: Index(['FIPS', 'State', 'County', '2010_Census_Population',
       'Population_Estimate_2011', 'Population_Estimate_2012',
       'Population_Estimate_2013', 'Population_Estimate_2014',
       'Population_Estimate_2015', 'Population_Estimate_2016',
       'Population_Estimate_2017', 'Population_Estimate_2018'],
      dtype='object', name='Variable_Code')

In [21]:
# display
df_fda_3.head()

Variable_Code,State_FIPS,State,CACFP_PART_2012,CACFP_PART_2013,CACFP_PART_2014,CACFP_PART_2015,CACFP_PART_2016,CACFP_PART_2017,CACFP_PART_2018,NSLP_PART_2012,...,State_Population_2016,State_Population_2017,State_Population_2018,WIC_PART_2012,WIC_PART_2013,WIC_PART_2014,WIC_PART_2015,WIC_PART_2016,WIC_PART_2017,WIC_PART_2018
0,1,AL,42903.75,41862.50,45038.75,51263.75,59447.50,61361.50,65638.00,5.629590e+05,...,4864745.0,4875120.0,4887871.0,1.418998e+05,1.390005e+05,1.310462e+05,1.321328e+05,1.291599e+05,1.239926e+05,1.206048e+05
1,2,AK,10540.75,10962.75,11429.50,10786.50,10039.00,10082.50,9547.00,5.391981e+04,...,741504.0,739786.0,737438.0,2.496933e+04,2.305467e+04,1.960467e+04,1.968200e+04,1.912092e+04,1.818817e+04,1.709242e+04
2,4,AZ,41670.75,42945.25,40344.00,42551.50,42618.00,42284.75,49678.25,6.624395e+05,...,6945452.0,7048876.0,7171646.0,1.932141e+05,1.825008e+05,1.730202e+05,1.670722e+05,1.639978e+05,1.535101e+05,1.495133e+05
3,5,AR,55787.00,67629.75,76841.25,67984.50,66903.00,63450.25,57042.75,3.489089e+05,...,2990410.0,3002997.0,3013825.0,9.429275e+04,8.977683e+04,8.328858e+04,8.421958e+04,8.055467e+04,7.651850e+04,7.360675e+04
4,6,CA,362931.00,451422.00,511862.75,562667.00,595088.25,617881.75,624624.25,3.355494e+06,...,39209127.0,39399349.0,39557045.0,1.472468e+06,1.431881e+06,1.348939e+06,1.265005e+06,1.174875e+06,1.080241e+06,1.009492e+06

In [22]:
# info
df_fda_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 44 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   State_FIPS             51 non-null     int64
 1   State                  51 non-null     object
 2   CACFP_PART_2012        51 non-null     float64
 3   CACFP_PART_2013        51 non-null     float64
 4   CACFP_PART_2014        51 non-null     float64
 5   CACFP_PART_2015        51 non-null     float64
 6   CACFP_PART_2016        51 non-null     float64
 7   CACFP_PART_2017        51 non-null     float64
 8   CACFP_PART_2018        51 non-null     float64
 9   NSLP_PART_2012         51 non-null     float64
 10  NSLP_PART_2013         51 non-null     float64
 11  NSLP_PART_2014         51 non-null     float64
 12  NSLP_PART_2015         51 non-null     float64
 13  NSLP_PART_2016         51 non-null     float64
 14  NSLP_PART_2017         51 non-null     float64
 15  NSLP_PART_2018         51 non-null     float64
 16  SBP_PART_2012          51 non-null     float64
 17  SBP_PART_2013          51 non-null     float64
 18  SBP_PART_2014          51 non-null     float64
 19  SBP_PART_2015          51 non-null     float64
 20  SBP_PART_2016          51 non-null     float64
 21  SBP_PART_2017          51 non-null     float64
 22  SBP_PART_2018          51 non-null     float64
 23  SFSP_PART_2012         51 non-null     float64
 24  SFSP_PART_2013         51 non-null     float64
 25  SFSP_PART_2014         51 non-null     float64
 26  SFSP_PART_2015         51 non-null     float64
 27  SFSP_PART_2016         51 non-null     float64
 28  SFSP_PART_2017         51 non-null     float64
 29  SFSP_PART_2018         51 non-null     float64
 30  State_Population_2012  51 non-null     float64
 31  State_Population_2013  51 non-null     float64
 32  State_Population_2014  51 non-null     float64
 33  State_Population_2015  51 non-null     float64
 34  State_Population_2016  51 non-null     float64
 35  State_Population_2017  51 non-null     float64
 36  State_Population_2018  51 non-null     float64
 37  WIC_PART_2012          51 non-null     float64
 38  WIC_PART_2013          51 non-null     float64
 39  WIC_PART_2014          51 non-null     float64
 40  WIC_PART_2015          51 non-null     float64
 41  WIC_PART_2016          51 non-null     float64
 42  WIC_PART_2017          51 non-null     float64
 43  WIC_PART_2018          51 non-null     float64
dtypes: float64(42), int64(1), object(1)
memory usage: 17.7+ KB

In [23]:
# describe
df_fda_3.describe()

Variable_Code,State_FIPS,CACFP_PART_2012,CACFP_PART_2013,CACFP_PART_2014,CACFP_PART_2015,CACFP_PART_2016,CACFP_PART_2017,CACFP_PART_2018,NSLP_PART_2012,NSLP_PART_2013,...,State_Population_2016,State_Population_2017,State_Population_2018,WIC_PART_2012,WIC_PART_2013,WIC_PART_2014,WIC_PART_2015,WIC_PART_2016,WIC_PART_2017,WIC_PART_2018
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,5.100000e+01,5.100000e+01,...,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01,5.100000e+01
mean,28.960784,69490.504902,71655.612745,75905.098039,81465.823529,85921.333333,88364.632353,90380.950980,6.127825e+05,5.937302e+05,...,6.334732e+06,6.375434e+06,6.415048e+06,1.704073e+05,1.657204e+05,1.580896e+05,1.536727e+05,1.474524e+05,1.397460e+05,1.321477e+05
std,15.832828,80430.234679,88440.377726,98237.259693,108545.059263,118749.706301,122836.351472,130036.565117,6.923071e+05,6.779826e+05,...,7.242171e+06,7.294685e+06,7.343308e+06,2.468271e+05,2.411141e+05,2.287575e+05,2.180488e+05,2.065493e+05,1.932998e+05,1.797976e+05
min,1.000000,7827.750000,4989.500000,5764.750000,5581.000000,7532.750000,7069.000000,6902.500000,4.773463e+04,5.056946e+04,...,5.842900e+05,5.789340e+05,5.777370e+05,1.260158e+04,1.198017e+04,1.162892e+04,1.099542e+04,1.078283e+04,1.015858e+04,9.062000e+03
25%,16.500000,17303.375000,17916.750000,17903.625000,18939.375000,19351.875000,23271.750000,24167.250000,1.857301e+05,1.771105e+05,...,1.756930e+06,1.767976e+06,1.780020e+06,4.323908e+04,4.172146e+04,4.031725e+04,3.905363e+04,3.856721e+04,3.698321e+04,3.456450e+04
50%,29.000000,46211.250000,45304.500000,46407.250000,49897.500000,49185.750000,50680.250000,51052.250000,4.341405e+05,4.227457e+05,...,4.438229e+06,4.453874e+06,4.468402e+06,1.185849e+05,1.137628e+05,1.089005e+05,1.055036e+05,1.001519e+05,9.595817e+04,9.215250e+04
75%,41.500000,73297.500000,74591.625000,78869.375000,88461.125000,90559.125000,93717.375000,93294.750000,7.083522e+05,6.755111e+05,...,7.120066e+06,7.237154e+06,7.353618e+06,1.683068e+05,1.636985e+05,1.591861e+05,1.580745e+05,1.515955e+05,1.459558e+05,1.426490e+05
max,56.000000,362931.000000,451422.000000,511862.750000,562667.000000,595088.250000,617881.750000,670944.500000,3.374154e+06,3.314594e+06,...,3.920913e+07,3.939935e+07,3.955704e+07,1.472468e+06,1.431881e+06,1.348939e+06,1.265005e+06,1.174875e+06,1.080241e+06,1.009492e+06

#### df_fda_var

In [24]:
# reset df
df_fda_var = pd.read_csv(fda_var)

In [25]:
# shape
print(f'Shape of df_fda_var: {df_fda_var.shape}')

print('')

# columns
print(f'Columns in df_fda_var: {df_fda_var.columns}')

Shape of df_fda_var: (281, 7)

Columns in df_fda_var: Index(['Variable_Name', 'Category_Name', 'Category_Code', 'Subcategory_Name',
       'Variable_Code', 'Geography', 'Units'],
      dtype='object')

In [26]:
# display
df_fda_var.head()

,Variable_Name,Category_Name,Category_Code,Subcategory_Name,Variable_Code,Geography,Units
0,"Population, low access to store, 2010",Access and Proximity to Grocery Store,ACCESS,Overall,LACCESS_POP10,CNTY10,Count
1,"Population, low access to store, 2015",Access and Proximity to Grocery Store,ACCESS,Overall,LACCESS_POP15,CNTY10,Count
2,"Population, low access to store (% change), 20...",Access and Proximity to Grocery Store,ACCESS,Overall,PCH_LACCESS_POP_10_15,CNTY10,% change
3,"Population, low access to store (%), 2010",Access and Proximity to Grocery Store,ACCESS,Overall,PCT_LACCESS_POP10,CNTY10,Percent
4,"Population, low access to store (%), 2015",Access and Proximity to Grocery Store,ACCESS,Overall,PCT_LACCESS_POP15,CNTY10,Percent

In [27]:
# exploring the columns
print(f'Geography: {df_fda_var.Geography.unique()}')

print(f'Category_Code: {df_fda_var.Category_Code.unique()}')

Geography: ['CNTY10']
Category_Code: ['ACCESS' 'STORES' 'RESTAURANTS' 'ASSISTANCE' 'INSECURITY' 'PRICES_TAXES'
 'LOCAL' 'HEALTH' 'SOCIOECONOMIC']

In [28]:
# pivot
df_fda_var = df_fda_var.pivot_table(index=['Category_Name','Variable_Name'], columns=['Variable_Code','Category_Name'])
df_fda_var.reset_index(inplace=True)
# # pivot
# df_fda_1 = df_fda_1.pivot_table(values='Value', index=['FIPS', 'State', 'County'], columns='Variable_Code')
# df_fda_1.reset_index(inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/apply.py:507: FutureWarning: Dropping invalid columns in DataFrameGroupBy.mean is deprecated. In a future version, a TypeError will be raised. Before calling .mean, select only columns which should be valid for the function.
  return self._try_aggregate_string_function(obj, f, *self.args, **self.kwargs)

In [29]:
df_fda_var

,Category_Name,Variable_Name
Variable_Code,,
Category_Name,,
0,Access and Proximity to Grocery Store,"American Indian or Alaska Native, low access t..."
1,Access and Proximity to Grocery Store,"American Indian or Alaska Native, low access t..."
2,Access and Proximity to Grocery Store,"Asian, low access to store (%), 2015"
3,Access and Proximity to Grocery Store,"Asian, low access to store, 2015"
4,Access and Proximity to Grocery Store,"Black, low access to store (%), 2015"
...,...,...
276,Store Availability,"WIC-authorized stores, 2011"
277,Store Availability,"WIC-authorized stores, 2016"
278,Store Availability,"WIC-authorized stores/1,000 pop (% change), 20..."
279,Store Availability,"WIC-authorized stores/1,000 pop, 2011"
280,Store Availability,"WIC-authorized stores/1,000 pop, 2016"

In [30]:
# shape
print(f'Shape of df_fda_var: {df_fda_var.shape}')

print('')

# columns
print(f'Columns in df_fda_var: {df_fda_var.columns}')

Shape of df_fda_var: (281, 2)

Columns in df_fda_var: MultiIndex([('Category_Name', '', ''),
            ('Variable_Name', '', '')],
           names=[None, 'Variable_Code', 'Category_Name'])

In [31]:
# display

In [32]:
# info

In [33]:
# describe

### Merge datfarames

In [34]:
# list of dfs
fda_dfs = [df_fda_1, df_fda_2, df_fda_3]

In [35]:
for df in fda_dfs:
    print(type(df))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [36]:
df_fda = df_fda_1.merge(df_fda_2,on=['FIPS', 'State', 'County'])
df_fda = df_fda.merge(df_fda_3,on='State')


# df_fda = df_fda.merge(df_fda_var, on)
# df1.merge(df2,on='name').merge(df3,on='name')

In [37]:
# display
df_fda.head()

Variable_Code,FIPS,State,County,2010_Census_Population_x,AGRITRSM_OPS07,AGRITRSM_OPS12,AGRITRSM_RCT07,AGRITRSM_RCT12,BERRY_ACRES07,BERRY_ACRES12,...,State_Population_2016_y,State_Population_2017_y,State_Population_2018_y,WIC_PART_2012_y,WIC_PART_2013_y,WIC_PART_2014_y,WIC_PART_2015_y,WIC_PART_2016_y,WIC_PART_2017_y,WIC_PART_2018_y
0,1001,AL,Autauga County,54571.0,NaN,NaN,NaN,NaN,NaN,NaN,...,4864745.0,4875120.0,4887871.0,141899.8333,139000.5,131046.25,132132.75,129159.9167,123992.5833,120604.75
1,1003,AL,Baldwin County,182265.0,NaN,NaN,NaN,NaN,NaN,NaN,...,4864745.0,4875120.0,4887871.0,141899.8333,139000.5,131046.25,132132.75,129159.9167,123992.5833,120604.75
2,1005,AL,Barbour County,27457.0,NaN,NaN,NaN,NaN,NaN,NaN,...,4864745.0,4875120.0,4887871.0,141899.8333,139000.5,131046.25,132132.75,129159.9167,123992.5833,120604.75
3,1007,AL,Bibb County,22915.0,NaN,NaN,NaN,NaN,NaN,NaN,...,4864745.0,4875120.0,4887871.0,141899.8333,139000.5,131046.25,132132.75,129159.9167,123992.5833,120604.75
4,1009,AL,Blount County,57322.0,NaN,NaN,NaN,NaN,NaN,NaN,...,4864745.0,4875120.0,4887871.0,141899.8333,139000.5,131046.25,132132.75,129159.9167,123992.5833,120604.75

In [38]:
# shape
print(f'Shape of df_fda: {df_fda.shape}')

print('')

# columns
print(f'Columns in df_fda: {df_fda.columns}')

Shape of df_fda: (67, 387)

Columns in df_fda: Index(['FIPS', 'State', 'County', '2010_Census_Population_x', 'AGRITRSM_OPS07',
       'AGRITRSM_OPS12', 'AGRITRSM_RCT07', 'AGRITRSM_RCT12', 'BERRY_ACRES07',
       'BERRY_ACRES12',
       ...
       'State_Population_2016_y', 'State_Population_2017_y',
       'State_Population_2018_y', 'WIC_PART_2012_y', 'WIC_PART_2013_y',
       'WIC_PART_2014_y', 'WIC_PART_2015_y', 'WIC_PART_2016_y',
       'WIC_PART_2017_y', 'WIC_PART_2018_y'],
      dtype='object', name='Variable_Code', length=387)

# New Section